* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  /* PRODUTO */
  --brand-color-light: #60A5FA;
  --brand-color-dark: #1D4ED8;
  /* BASE */
  --bg-color: #0F172A;
  --stroke-color: #1E293B;
  /* TEXTOS */
  --text-color-primary: #F1F5FF;
  --text-color-secondary: #CBD5E1;

  /* TIPOGRAFIA */
  --font-family: "Archivo", sans-serif;
  --txt-heading1: extrabold 24px/135% var(--font-family);
  --txt-heading2: extrabold 16px/140% var(--font-family);
  --txt-heading3: extrabold 14px/140% var(--font-family);
  --txt-span: semibold 14px/145% var(--font-family);
  --txt-paragraph: 14px/160% var(--font-family);
}