* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  /* PRODUTO */
  --brand-color-light: #60A5FA;
  --brand-color-dark: #1D4ED8;
  /* BASE */
  --bg-color: #0F172A;
  --stroke-color: #1E293B;
  /* TEXTOS */
  --text-color-primary: #F1F5F9;
  --text-color-secondary: #CBD5E1;

  /* TIPOGRAFIA */
  --font-family: "Archivo", sans-serif;
  --txt-heading1: 800 24px/135% var(--font-family);
  --txt-heading2: 800 16px/140% var(--font-family);
  --txt-heading3: 800 14px/140% var(--font-family);
  --txt-span: 600 14px/145% var(--font-family);
  --txt-paragraph: 16px/160% var(--font-family);
  --txt-small: 14px/160% var(--font-family);
}

body {
  background-color: var(--bg-color);
  color: var(--text-color-primary);
  font: var(--txt-paragraph);

  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 20px 32px 80px;
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  color: var(--brand-color-light);
}

h1, h2, h3 {
  font: inherit;
}

main {
  margin-top: 40px;
  row-gap: 80px;
  column-gap: 32px;

  grid-template-columns: 2fr 1.5fr;

  grid-template-areas: 
  "featured featured"
  "weekly weekly"
  "ai aside";
}

img {
  max-width: 100%;
}

.container {
  max-width: 1280px;
  padding-inline: 32px;
  margin-inline: auto;
}

.content-tag {
  display: inline-block; /* não importa se está numa tag span ou div, essa classe terá os dois comportamentos; o inline mantém o tamanho do texto */
  background-color: var(--brand-color-dark);
  padding: 4px 8px;
  border-radius: 4px;
  font: 400 10px/1.2 var(--font-family);
  text-transform: uppercase;
  letter-spacing: 0.04em; /* em - significa que está tomando o tamanho da fonte do pai como referência */
  color: var(--text-color-primary);
  box-shadow: 0px 4px 16px rgba(2, 6, 23, 0.25); /* eixo x, eixo y, espalhamento, cor */
}